@page "/"
@using Restaurant_Manager.Data
@using Restaurant_Manager.Model

<h1>Hello, world!</h1>
<h2 style="color: red; background-color: yellow">this page is just to test if db is working
    you can delete it :)
</h2>

@if (menuItems is null){
    <h2>loading items.....</h2>

}
else{

    <ul>
        @foreach(var item in menuItems)
        {
            <li>@item.Name - @item.Price.ToString("C")</li>
        }
    </ul>
}
@code{
    List<MenuEntry>? menuItems;

    protected override async Task OnInitializedAsync(){ 

        var result = await DatabaseApi.GetMenu();
        if (result.Ok)
        {
            menuItems = result.Value!;
        }
        else
        {
            menuItems = new List<MenuEntry>();
        }
    }

}
